body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  background-color: #1d3557;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e63946;
  margin-bottom: 4px;
  background-color: #f1faee;
}

button {
  background: #e63946;
  color: #f1faee;
  padding: 10px 20px;
  border: 1px solid #e63946;
  font-weight: bold;
  width: 32.7%;
}

#delete-btn {
  background: #f1faee;
  color: #e63946;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 10;
}

li {
  margin-top: 5px;
  color: #f1faee;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #e63946;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
